/data_injection
bg_img.jfif
yashomati's resume.pdf
download-resume-1.pdf
sample.py
.env
.venv
__pycache__
chatbotData
sampledata
frontend/javascript/demo.html
frontend/javascript/fetchapi.js
frontend/HTML/photo Kalyani .pdf