pwdlib[argon2]
cryptography
colorama
fastapi
gitdb
GitPython
google-auth
google-genai
groq
httpx
huggingface_hub
Jinja2
joblib
jwt
numpy
oauthlib
openai
packaging
pandas
pdfplumber
pillow
psycopg2-binary
pwdlib
pyarrow
pgvector
pydantic
pydantic-settings
pydantic_core
pypdf
python-dotenv
python-jose
pytest
PyYAML
referencing
regex
requests
setuptools
SQLAlchemy
starlette
uvicorn
websocket-client
websockets
pytesseract
uuid-utils
mangum
python-multipart