pwdlib[argon2]
cryptography
fastapi
gitdb
GitPython
google-genai
groq
httpx
huggingface_hub
Jinja2
joblib
jwt
numpy
oauthlib
openai
pandas
pdfplumber
pillow
psycopg2-binary
pwdlib
pyarrow
pgvector
pydantic
pypdf
python-dotenv
python-jose
pytest
PyYAML
referencing
regex
requests
setuptools
SQLAlchemy
starlette
uvicorn
websocket-client
websockets
pytesseract
uuid-utils
python-multipart