body{
    padding: 10px;
    margin-top: 80px;
    margin-left: 80px;
    background-color: rgba(224, 169, 244, 0.5);
    letter-spacing: 0.5;
}
.Iq_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(150, 84, 211);
    padding: 40px;
    margin: auto;
    width:fit-content;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
.header{
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.Iq_card{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: auto;
    color: rgb(45, 44, 44);
    line-height: 20px;
    width: 40vw;
}

#Iq_btn{
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(59, 8, 84);
    color: white;
    border-radius: 10px;
    width: 20vw;
    height: 10vh;
}
#closebtn{
    width:fit-content;
    height: fit-content;
}